{% extends 'SMAdminBundle::admin.html.twig' %}
{% block body%}
<script type="text/javascript">
    $(document).ready(function() {
        $('#sortTable').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true,
            "aaSorting": [ [0,'asc'], [1,'asc'] ],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [ 3, 4 ] }
            ],
        });
    } );
</script>
<h1>Company type list</h1>

<div class="nav">
    <a href="{{ path('admin_companytype_new') }}" class="btn btn-primary">Create a new entry</a>
    <div class="btn-group pull-right">
        <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            {% for opt in langList %}
                {% if lang == opt.id %}
                {{ opt.name }} <span class="caret"></span>
                {% endif %}
            {% endfor %}
        </a>
        <ul class="dropdown-menu">
            {% for opt in langList %}
                <li><a href="{{ path('admin_companytype', {'page': 1, 'lang' : opt.id }) }}">{{ opt.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<table class="table table-bordered table-striped" id="sortTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>
                {% if entity.getCurrentLanguage is not null %}
                    {{ entity.getCurrentLanguage.name | truncate(50) }}
                {% else %}
                    <span class="label label-warning">{{ 'Not set value in this language' | trans({}, 'SMAdminBundle') }}</span>
                {% endif %}
            </td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                {% if entity.status == 1 %}
                    <input type="checkbox" checked="checked" class="defaultCheckBox" disabled="true"/>
                {% else %}
                    <input type="checkbox" class="defaultCheckBox" disabled="true"/>
                {% endif%}
            </td>
            <td>
                <a href="{{ path('admin_companytype_edit', { 'id': entity.id }) }}">edit</a>
                {% if entity.getCurrentLanguage is not null %}
                    &nbsp; | &nbsp;
                    <a href="#" rel="{{ path('admin_companytype_delete', { 'id': entity.getCurrentLanguage.getId }) }}" class="delete">Delete</a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# Pagination for list #}
{% if lastPage > 1 %}
<div class="pagination pull-right">
    <ul>
        <li><a href="{{ path('admin_companytype', { 'page': 1, 'lang' : lang }) }}">«</a></li>
        <li><a href="{{ path('admin_companytype', { 'page': previousPage, 'lang' : lang }) }}">Previous</a></li>
    {% for page in 1..lastPage %}
      {% if page == currentPage %}
        <li class="active"><a href="{{ path('admin_companytype', {'page': page, 'lang' : lang }) }}">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ path('admin_companytype', {'page': page, 'lang' : lang } )}}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
        <li><a href="{{ path('admin_companytype', {'page': nextPage, 'lang' : lang }) }}">Next</a></li>
        <li><a href="{{ path('admin_companytype', {'page': lastPage, 'lang' : lang }) }}">»</a></li>
    </ul>
</div>
{% endif %}

{% endblock %}