{% extends 'SMAdminBundle::admin.html.twig' %}
{% block body%}
<script type="text/javascript">
    $(document).ready(function() {
        $('#sortTable').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true,
            "aaSorting": [ [0,'asc'], [1,'asc'], [2,'asc'] ],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [ 3, 4 ] }
            ],
        });
    } );
</script>
<h2>{{ 'Language list'|trans({}, "SMAdminBundle") }}</h2>

<div class="btn-group nav">
    <a href="{{ path('admin_language_new') }}" class="btn btn-primary">{{ 'Create a new entry'|trans({}, "SMAdminBundle") }}</a>
</div>

<table class="table table-bordered table-striped" id="sortTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>{{ 'Name'|trans({}, "SMAdminBundle") }}</th>
            <th>{{ 'Lang key'|trans({}, "SMAdminBundle") }}</th>
            <th>{{ 'Is default'|trans({}, "SMAdminBundle") }}</th>
            <th>{{ 'Action'|trans({}, "SMAdminBundle") }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_language_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.langkey }}</td>
            <td>
                {% if entity.isdefault == 1 %}
                    <input type="checkbox" checked="checked" class="defaultCheckBox" disabled="true"/>
                {% else %}
                    <input type="checkbox" class="defaultCheckBox" src="{{ path('admin_language_set_default', { 'id': entity.id }) }}"/>
                {% endif%}
            </td>
            <td>
                <a href="{{ path('admin_language_show', { 'id': entity.id }) }}"><i class="icon-search"></i>{{ 'Show'|trans({}, "SMAdminBundle") }}</a>
                &nbsp; | &nbsp;
                <a href="{{ path('admin_language_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i>{{ 'Edit'|trans({}, "SMAdminBundle") }}</a>
                {% if entity.isdefault != 1 %}
                &nbsp; | &nbsp;
                <a class="delete" rel="{{ path('admin_language_delete', { 'id': entity.id }) }}"><i class="icon-remove"></i>{{ 'Delete'|trans({}, "SMAdminBundle") }}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# Pagination for list #}
{% if lastPage > 1 %}
<div class="pagination" style="text-align: right;">
    <ul>
        <li><a href="{{ path('admin_language', { 'page': 1 }) }}"><i class="icon-fast-backward"></i></a></li>
        <li><a href="{{ path('admin_language', { 'page': previousPage }) }}"><i class="icon-backward"></i></a></li>
    {% for page in 1..lastPage %}
      {% if page == currentPage %}
        <li class="active"><a href="{{ path('admin_language', {'page': page }) }}">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ path('admin_language', {'page': page }) }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
        <li><a href="{{ path('admin_language', {'page': nextPage }) }}"><i class="icon-forward"></i></a></li>
        <li><a href="{{ path('admin_language', {'page': lastPage }) }}"><i class="icon-fast-forward"></i></a></li>
    </ul>
</div>
{% endif %}

{% endblock %}