{% extends 'SMAdminBundle::admin.html.twig' %}
{% block body %}
<h2>{{ 'Company Edit'|trans({}, "SMAdminBundle") }}</h2>

<form action="{{ path('admin_company_edit', {'id' : entity.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="input01">{{ 'Company Type'|trans({}, "SMAdminBundle") }}</label>
            <div class="controls">
                {{ form_errors(form.type) }}
                {{ form_widget(form.type) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">{{ 'Charter Capital'|trans({}, "SMAdminBundle") }}</label>
            <div class="controls">
                {{ form_errors(form.charter_capital) }}
                {{ form_widget(form.charter_capital) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">{{ 'Phone'|trans({}, "SMAdminBundle") }}</label>
            <div class="controls">
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">{{ 'Fax'|trans({}, "SMAdminBundle") }}</label>
            <div class="controls">
                {{ form_errors(form.fax) }}
                {{ form_widget(form.fax) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">{{ 'Mst'|trans({}, "SMAdminBundle") }}</label>
            <div class="controls">
                {{ form_errors(form.mst) }}
                {{ form_widget(form.mst) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">{{ 'Email'|trans({}, "SMAdminBundle") }}</label>
            <div class="controls">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input01">{{ 'Website'|trans({}, "SMAdminBundle") }}</label>
            <div class="controls">
                {{ form_errors(form.website) }}
                {{ form_widget(form.website) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">{{ 'Logo'|trans({}, "SMAdminBundle") }}</label>
            <div class="controls">
                {{ form_errors(form.logo) }}
                {{ form_widget(form.logo) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01"></label>
            <div class="controls">
                {{ mtxshowimg(arrImgs, imgPath)|raw}}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input01">{{ 'Status'|trans({}, "SMAdminBundle") }}</label>
            <div class="controls">
                {{ form_errors(form.status) }}
                {{ form_widget(form.status) }}
            </div>
        </div>

        <hr />
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                  {% set isActive = 1 %}
                  {% for lang in langList %}
                      {% if isActive == 1%}
                          <li class="active"><a href="#tab{{ lang.id }}" data-toggle="tab">{{ lang.name }}</a></li>
                      {% else %}
                          <li><a href="#tab{{ lang.id }}" data-toggle="tab">{{ lang.name }}</a></li>
                      {% endif %}
                      {% set isActive = 2 %}
                  {% endfor %}
            </ul>
            <div class="tab-content">
                {% set isActive = 1 %}
                {% for lang in langList %}
                    {% set currentAL = null %}
                    {% for companyLanguage in form.company_languages%}
                        {% if companyLanguage.vars.value.language.id == lang.id %}
                            {% set currentAL = companyLanguage %}
                        {% endif%}
                    {% endfor %}
                    {% if isActive == 1%}
                        <div class="tab-pane active" id="tab{{ lang.id }}">
                    {% else %}
                        <div class="tab-pane" id="tab{{ lang.id }}">
                    {% endif %}
                            <fieldset>
                                {% if currentAL is not null %}
                                    <div class="control-group">
                                        <label class="control-label" for="input01">{{ 'Name'|trans({}, "SMAdminBundle") }}</label>
                                        <div class="controls">
                                            {{ form_errors(currentAL.name) }}
                                            {% if defaultLanguage.name == currentAL.vars.value.language.name %}
                                                {{ form_widget(currentAL.name, {'attr': {'required': 'required'}}) }}
                                            {% else %}
                                                {{ form_widget(currentAL.name) }}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="input01">{{ 'Address'|trans({}, "SMAdminBundle") }}</label>
                                        <div class="controls">
                                            {{ form_errors(currentAL.address) }}
                                            {% if defaultLanguage.name == currentAL.vars.value.language.name %}
                                                {{ form_widget(currentAL.address) }}
                                            {% else %}
                                                {{ form_widget(currentAL.address) }}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="input01">{{ 'Representation'|trans({}, "SMAdminBundle") }}</label>
                                        <div class="controls">
                                            {{ form_errors(currentAL.representation) }}
                                            {% if defaultLanguage.name == currentAL.vars.value.language.name %}
                                                {{ form_widget(currentAL.representation) }}
                                            {% else %}
                                                {{ form_widget(currentAL.representation) }}
                                            {% endif %}
                                        </div>
                                    </div>

                                {% endif%}
                            </fieldset>
                        </div>
                    {% set isActive = 2 %}
               {% endfor %}
            </div>
        </div>

        <div class="form-actions">
            {{ form_row(form._token) }}
            <button type="submit" class="btn btn-primary">{{ 'Save'|trans({}, "SMAdminBundle") }}</button>
            <a href="{{ path('admin_company', {'page' : 1}) }}" class="btn">{{ 'Back to the list'|trans({}, "SMAdminBundle") }}</a>
        </div>

    </fieldset>
</form>

{% endblock %}