{% extends 'SMAdminBundle::admin.html.twig' %}
{% block body%}
<script type="text/javascript">
    $(document).ready(function() {
        $('#sortTable').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true,
            "aaSorting": [ [0,'asc'], [1,'asc'] ],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [ 3, 4 ] }
            ],
        });
    } );
</script>

<h1>Company list</h1>

<div class="nav" style="margin-bottom: 10px;">
    <a href="{{ path('admin_company_new') }}" class="btn btn-primary">Create a new entry</a>
    <div class="btn-group pull-right">
        <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            {% for opt in langList %}
                {% if lang == opt.id %}
                {{ opt.name }} <span class="caret"></span>
                {% endif %}
            {% endfor %}
        </a>
        <ul class="dropdown-menu">
            {% for opt in langList %}
                <li><a href="{{ path('admin_company', {'page': 1, 'lang' : opt.id }) }}">{{ opt.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div style="clear: both; margin-top: 10px;"></div>
    <div class="btn-group pull-center">
        <form class="well form-search" method="POST" action="{{ path('admin_company_search') }}" style="margin-bottom: 10px;">
            Name : <input type="text" name="name" >
            Type : <select name="type">
                        <option value="">-- Select Company Type -- </option>
                        {% for comType in optComTypes %}
                            {% if comType.getCurrentLanguage is not null %}
                                <option value="{{comType.id}}">
                                    {{ comType.getCurrentLanguage.name | truncate(50) }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="hidden" name="language" value="{{lang}}"/>
            <button type="submit" class="btn" style="width: 100px;">Search</button>
        </form>
    </div>
</div>
<div style="clear: both; margin-bottom: 10px;"></div>
<table class="table table-bordered table-striped" id="sortTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>
                {% if entity.getCurrentLanguage is not null %}
                    {{ entity.getCurrentLanguage.name | truncate(50) }}
                {% else %}
                    <span class="label label-warning">{{ 'Not set value in this language' | trans({}, 'SMAdminBundle') }}</span>
                {% endif %}
            </td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                {% if entity.status == 1 %}
                    <input type="checkbox" checked="checked" class="defaultCheckBox" disabled="true"/>
                {% else %}
                    <input type="checkbox" class="defaultCheckBox" disabled="true"/>
                {% endif%}
            </td>
            <td>
                <a href="{{ path('admin_company_edit', { 'id': entity.id }) }}">edit</a>
                {% if entity.getCurrentLanguage is not null %}
                    &nbsp; | &nbsp;
                    <a href="#" rel="{{ path('admin_company_delete', { 'id': entity.getCurrentLanguage.getId }) }}" class="delete">Delete</a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# Pagination for list #}
{% if lastPage > 1 %}
<div class="pagination pull-right">
    <ul>
        <li><a href="{{ path('admin_company', { 'page': 1, 'lang' : lang }) }}">«</a></li>
        <li><a href="{{ path('admin_company', { 'page': previousPage, 'lang' : lang }) }}">Previous</a></li>
    {% for page in 1..lastPage %}
      {% if page == currentPage %}
        <li class="active"><a href="{{ path('admin_company', {'page': page, 'lang' : lang }) }}">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ path('admin_company', {'page': page, 'lang' : lang } )}}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
        <li><a href="{{ path('admin_company', {'page': nextPage, 'lang' : lang }) }}">Next</a></li>
        <li><a href="{{ path('admin_company', {'page': lastPage, 'lang' : lang }) }}">»</a></li>
    </ul>
</div>
{% endif %}

{% endblock %}