{% extends 'SMAdminBundle::admin.html.twig' %}
{% block body%}
<script type="text/javascript">
    $(document).ready(function() {
        $('#sortTable').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true,
            "aaSorting": [ [0,'asc'], [1,'asc'] ],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [ 2, 3] }
            ],
        });
    } );
</script>

<h1>Results of search Company</h1>

<div class="nav">
    <a href="{{ path('admin_company') }}" class="btn btn-primary">Back To Company</a>
    <div style="clear: both;"></div>
</div>
<div style="clear: both; margin-bottom: 10px;"></div>
<table class="table table-bordered table-striped" id="sortTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.company.id }}</td>
            <td>
                {% if entity.name is not null %}
                    {{ entity.name | truncate(50) }}
                {% else %}
                    <span class="label label-warning">{{ 'Not set value in this language' | trans({}, 'SMAdminBundle') }}</span>
                {% endif %}
            </td>
            <td>
                {% if entity.company.status == 1 %}
                    <input type="checkbox" checked="checked" class="defaultCheckBox" disabled="true"/>
                {% else %}
                    <input type="checkbox" class="defaultCheckBox" disabled="true"/>
                {% endif%}
            </td>
            <td>
                <a href="{{ path('admin_company_edit', { 'id': entity.company.id }) }}">edit</a>
                {% if entity.language is not null %}
                    &nbsp; | &nbsp;
                    <a href="#" rel="{{ path('admin_company_delete', { 'id': entity.id }) }}" class="delete">Delete</a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}