{% spaceless %}
<script type="text/javascript">
    $(document).ready(function() {

        $("#typeImg").bind("change", function(){
            var type = $(this).attr('value');
            var url = "{{path('admin_media_get_media')}}" + '/' + type;
            $.ajax({url:url, success:function(data){
                //remove all option of the select
                $('#thumbnail-img').children().remove();

                //set new option for select
                var jsonData = JSON.parse(data);
                $.each(jsonData, function(index, item) {
                    var str = '<li class="thumbImg" style="text-align: center;" data-type="'+item.catId+'">'
                            + '<label class="thumbnail" for="bg_{{ mediaName }}_'+item.id +'" style="border: 0px;">'
                            + '<img src="{{ mediaPath}}' + item.name +'" width="100px" height="100px;"/>'
                            + '</label>'
                            + '<input id="bg_'+ item.id +'" name="bg_{{ mediaName }}" imagepath="{{ mediaPath}}'+item.name+'" type="{% if options.multiple is defined %}{% if options.multiple %}checkbox{% else %}radio{% endif %}{% else %}radio{% endif %}" value="'+item.id+'" style="margin-left: 40px;"/>'
                            + '</li>';
                    $("#thumbnail-img").append(str);
                });

                //set checked for media we selected before
                var mediaName = '{{mediaName}}';
                $("select[name='"+mediaName+"']").children('option').each(function() {
                    if ($(this).attr('selected')) {
                        $("input[name='bg_"+mediaName+"'][value="+$(this).val()+"]").attr('checked', 'checked');
                    } else {
                        $("input[name='bg_"+mediaName+"'][value="+$(this).val()+"]").attr('checked', false);
                    }
                });

            }});

            //Call ajax
            $('#ajaxModal').modal();
            $('#ajaxModal').ajaxStart(function() {
                $(this).show();
            })
            .ajaxStop(function() {
                $('#ajaxModal').modal('hide')
            });
        });
    });
</script>

<a href="#backgroundModal" role="button" class="btn" data-toggle="modal">{{ 'Select image'|trans({}, "SMAdminBundle") }}</a>
<!-- Modal -->
<div id="backgroundModal" class="modal hide fade" style="width: 580px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="backgroundModalLabel">{{ 'Select image'|trans({}, "SMAdminBundle") }}</h3>
    </div>
    <div class="modal-body">
        <div style="text-align: center;">
            {{ 'Type of media'|trans({}, "SMAdminBundle") }} :
            <select name="typeImg" id="typeImg">
                {% for opt in optMediaTypes %}
                    <option value="{{opt.id}}">{{opt.getCurrentLanguage.getTreeName}}</option>
                {% endfor%}
            </select>
        </div>
        <ul class="thumbnails" id="thumbnail-img">

        </ul>
    </div>
    <div class="modal-footer">
        <div class="row">
            {% if options.multiple is defined %}
                {% if options.multiple %}
                <div class="span2" style="width: 200px;">
                        <a class="btn" onclick="checkAll('{{ mediaName }}');" >{{ 'Select All'|trans({}, "SMAdminBundle") }}</a>
                        <a class="btn" onclick="clearAll('{{ mediaName }}');" >{{ 'Clear All'|trans({}, "SMAdminBundle") }}</a>
                    </div>
                {% endif %}
            {% endif %}
            <div class="pull-right">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'Close'|trans({}, "SMAdminBundle") }}</button>
                <button class="btn btn-primary" data-dismiss="modal" onclick="applySelect('{{ mediaName }}')">{{ 'Select'|trans({}, "SMAdminBundle") }}</button>
            </div>
        </div>
    </div>
</div>

<div>
    <ul class="thumbnails" id="preview_{{ mediaName }}">
    </ul>
</div>

<script type="text/javascript" >
    var mediaPath = "{{ mediaPath }}";
    $(function() {
        initSelect('{{ mediaName }}', '{{mediaPath}}');

        $('#backgroundModal').on('hidden', function () {
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function() {
        $("#typeImg").bind("change", function(e) {
            var imgType = $(this).val();
            $("li.thumbImg").each(function(){
                var currentLi = $(this);
                var liType = currentLi.attr("data-type");
                if (liType == imgType) {
                    currentLi.css('display', 'inline');
                } else {
                    currentLi.css('display', 'none');
                }
            });
        });
    } );
</script>

{% endspaceless %}