{% extends 'SMAdminBundle::admin.html.twig' %}
{% block body%}
<script type="text/javascript">
    $(document).ready(function() {
        $('#sortTable').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true,
            "aaSorting": [ [0,'asc'], [1,'asc'] ],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [ 2, 3] }
            ],
        });
    } );
</script>

<h2>{{ 'Results of search product'|trans({}, "SMAdminBundle") }}</h2>

<div class="nav">
    <a href="{{ path('admin_products') }}" class="btn btn-primary">{{ 'Back to the list'|trans({}, "SMAdminBundle") }}</a>
    <div style="clear: both;"></div>
</div>
<div style="clear: both; margin-bottom: 10px;"></div>
<table class="table table-bordered table-striped" id="sortTable">
    <thead>
        <tr>
            <th>{{ 'Id'|trans({}, "SMAdminBundle") }}</th>
            <th>{{ 'Name'|trans({}, "SMAdminBundle") }}</th>
            <th>{{ 'Status'|trans({}, "SMAdminBundle") }}</th>
            <th>{{ 'Action'|trans({}, "SMAdminBundle") }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.product.id }}</td>
            <td>
                {% if entity.name is not null %}
                    {{ entity.name | truncate(50) }}
                {% else %}
                    <span class="label label-warning">{{ 'Not set value in this language' | trans({}, 'SMAdminBundle') }}</span>
                {% endif %}
            </td>
            <td>
                {% if entity.product.status == 1 %}
                    <input type="checkbox" checked="checked" class="defaultCheckBox" disabled="true"/>
                {% else %}
                    <input type="checkbox" class="defaultCheckBox" disabled="true"/>
                {% endif%}
            </td>
            <td>
                <a href="{{ path('admin_products_edit', { 'id': entity.product.id }) }}"><i class="icon-pencil"></i>{{ 'Edit'|trans({}, "SMAdminBundle") }}</a>
                {% if entity.language is not null %}
                    &nbsp; | &nbsp;
                    <a href="#" rel="{{ path('admin_products_delete', { 'id': entity.id }) }}" class="delete"><i class="icon-remove"></i>{{ 'Delete'|trans({}, "SMAdminBundle") }}</a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}